<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <style>
        *{
            box-sizing: border-box;
        }
        h1{
            text-align: center;
        }
        form{
            max-width: 700px;
            width: 100%;
            margin: auto;
        }

        form > *{
            width: 100%;
        }

        form input, form textarea, form button, form select{
            width: 100%;
            padding: 0.5rem 1rem;
        }
    </style>
</head>
<body>
    <h1>Welcome to my quiz app</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
    </form>
</body>
</html>